/* Set up some variables */
$font_main: "Source Sans Pro", "sans-serif";
$font_bracket: "Times New Roman", "serif";

$footer_height: 130px;

$footer-mobile-height: 35px;
$footer-mobile-breakpoint: 500px;

html {
  position: relative;
  min-height: 100%;
}

body {

  display: flex;
  flex-direction: column;

  background-color: black;
  font-family: $font_main;
  color: white;
  font-size: 12px;

  height: 100vh;
  // At small sizes just make the font size
  // responsive to the screen height
  @media (max-height: 700px) {

	font-size: 1.5vh;

  }
  @media (min-width: 1600px) {
    zoom: 1.2;
  }

}

.inactive {
  color: darkgrey;
}

.container {
  flex: 1;
}
.text-center {
  width: 100%;
  margin: 0 auto;
  position: relative;



}

footer.sticky {

  //position: absolute;

  width: 100%;
  background: #000;
  @media (max-width: $footer-mobile-breakpoint) {
	  height: $footer-mobile-height;
  }

  .container {
	margin-top: 10px;
  }

}

#date {


  font-size: 3.5em;

}

#studio {

  font-weight: bold;
  font-size: 6.5em;

  // At small sizes just make the font size
  // responsive to the screen height
  @media (max-width: 360px) {

	font-size: 12vw;
	line-height: 1em;

	}

  //Studio 1
  &.studio1 {
    color: red;
  }

  //Studio 2
  &.studio2 {
    color: rgb(36, 110, 230);
  }

  //Jukebox
  &.studio3 {
    color: #0F0;
  }

  //Outside Broadcast
  &.studio4 {
    color: #bb00dc;
  }

  //Off Air
  &.studio8 {
    color: orange;
  }
}

#time {

  font-size: 12em;
  line-height: 1em;

  // At small sizes just make the font size
  // responsive to the screen height
  @media (max-width: 360px) {

	font-size: 25vw;

  }

}

#current-show-title {

  font-size: 3.8em;
  font-variant: small-caps;

  .content {

	&::before, &::after {

	  font-family: $font_bracket;
	  font-size: 140%;
	  letter-spacing: 2px;
	  text-shadow: 0 0 30px #17A;

	}

	&::before {

	  content: "((";

	}

	&::after {

	  content: "))";

	}

	.news {
	  color: #2CDFFF;
	}

  }

}

#current-track {

  font-size: 3.8em;
  font-variant: small-caps;
  border: 3px solid white;

}

#breaking-news {

  border: 3px solid #F00;
}
#breaking-news .content {
  font-weight: bold;
  color: #F00;
  font-size: 5em;
}
#breaking-news .content iframe{
  margin-bottom: -0.35em;
}

.up-next {

  font-size: 2.8em;
  font-variant: small-caps;

}
#status {

  padding: 0;
  text-align: center;
  font-size: 0.9em;

  border-bottom: 0;
  overflow: hidden;

  vertical-align: middle;

  .pull-left {
    padding: 0 10px;
    font-size: 0.7em;

  }

}

#alerts {

  & > * {

	padding: 10px 0;

	@media (max-width: $footer-mobile-breakpoint) {
	  height: $footer-mobile-height;

	  padding-top: 8px;
	}
	//display: -webkit-box;
	//display: -ms-flexbox;
	//display: -webkit-flex;
	//display: flex;

	//justify-content: center;
	//align-items: center;

	text-align: center;

	border: 3px solid white;

	font-size: 2.5em;

	// At small sizes just make the font size
	// responsive to the screen width
	@media (max-width: 768px) {

	  font-size: 3.5vw;

	}

	&.worse {

	  border: 3px solid #F00;
	  color: #F00;

	  font-weight: bold;

	}

	&.bad {

	  border: 3px solid #F00;
	  color: #F00;

	}

	&.standby {

	  border: 3px solid orange;
	  color: orange;

	}

	&.good {

	  border: 3px solid #00FF00;
	  color: #00FF00;

	}

  }

}
