/* Set up some variables */
$font_main: "Source Sans Pro", "sans-serif";
$font_bracket: "Times New Roman", "serif";

$footer_height: 70px;

$footer-mobile-height: 35px;
$footer-mobile-breakpoint: 500px;

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: $footer_height;
  @media (max-width: $footer-mobile-breakpoint) {
	margin-bottom: $footer-mobile-height;
  }

  background-color: black;
  font-family: $font_main;
  color: white;
  font-size: 12px;

  // At small sizes just make the font size
  // responsive to the screen height
  @media (max-height: 700px) {

	font-size: 1.5vh;

  }

}

footer.sticky {

  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: $footer_height;
  @media (max-width: $footer-mobile-breakpoint) {
	height: $footer-mobile-height;
  }

  .container {
	margin-top: 10px;
  }

}

#date {

  font-weight: bold;
  font-size: 2em;

}

.counter {
	font-size: 8em;
	color: #7cd1ff;
}

#countdown101 {
	color: #7cd1ff;
}

#countUP101 {
	color: #7cd1ff;
}


#studio {

  font-weight: bold;
  font-size: 6.5em;

  // At small sizes just make the font size
  // responsive to the screen height
  @media (max-width: 360px) {

	font-size: 12vw;
	line-height: 1em;

	}

  //Studio 1
  &.studio1 {
    color: red;
  }

  //Studio 2
  &.studio2 {
    color: rgb(36, 110, 230);
  }

  //Jukebox
  &.studio3 {
    color: #0F0;
  }

  //Outside Broadcast
  &.studio4 {
    color: #bb00dc;
  }

  //Off Air
  &.studio8 {
    color: orange;
  }
}

#time {

  font-size: 13em;

  // At small sizes just make the font size
  // responsive to the screen height
  @media (max-width: 360px) {

	font-size: 25vw;

  }

}

#current-show-title {

  font-size: 3.8em;
  font-variant: small-caps;

  .content {

	&::before, &::after {

	  font-family: $font_bracket;
	  font-size: 140%;
	  letter-spacing: 2px;
	  text-shadow: 0 0 30px #17A;

	}

	&::before {

	  content: "((";

	}

	&::after {

	  content: "))";

	}

	.news {
	  color: #2CDFFF;
	}

  }

}

#current-track {

  font-size: 3.8em;
  font-variant: small-caps;

}

#breaking-news {

  font-size: 5em;
  font-weight: bold;
  color: #F00;

}

.up-next {

  font-size: 2.8em;
  font-variant: small-caps;

}

#alerts {

  & > * {

	padding: 0;

	height: $footer_height;

	padding-top: 15px;

	@media (max-width: $footer-mobile-breakpoint) {
	  height: $footer-mobile-height;

	  padding-top: 8px;
	}

	//display: -webkit-box;
	//display: -ms-flexbox;
	//display: -webkit-flex;
	//display: flex;

	//justify-content: center;
	//align-items: center;

	text-align: center;

	border: 2px solid white;

	font-size: 2.5em;

	// At small sizes just make the font size
	// responsive to the screen width
	@media (max-width: 768px) {

	  font-size: 3.5vw;

	}

	&.worse {

	  border: 3px solid #F00;
	  color: #F00;

	  font-weight: bold;

	}

	&.bad {

	  border: 3px solid #F00;
	  color: #F00;

	}

	&.standby {

	  border: 3px solid orange;
	  color: orange;

	}

	&.good {

	  border: 3px solid #00FF00;
	  color: #00FF00;

	}

  }

}
